@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;1,200;1,300&display=swap');
*{
    font-family: 'Josefin Sans', sans-serif;

}
.ms-full-height{
    height: 100vh;
}
.ms-img-background{
    background: url(../site_images/back1.jpg);
}

.ms-transparent{
    background: transparent
}

.ms-darkbackground{
    background:linear-gradient(90deg,#000000c4, #000000d1);
}
.ms-nav-item{
    border:1px solid transparent !important;

}

.ms-nav-item:focus,
.ms-nav-item:hover{
    box-shadow: 1px 1px 17px azure;
    text-shadow: 1px 1px 10px white;
}
.ms-nav-item:focus{
    text-decoration: underline;
}
.ms-wrapper{
    margin-top: 30px;
}

.ms-input{
    border-bottom: 1px solid white;
    margin-top: 10px;
    border-radius: 5px;
    height: 30px;
    padding: 3px;
}
.ms-input:focus,
.ms-input:hover{
    box-shadow: 1px 1px 10px white;
}