.ms-full-height{
    height: 100vh;
}
.ms-img-background{
    background: url(../site_images/back1.jpg);
}

.ms-transparent{
    background: transparent
}

.ms-darkbackground{
    background:linear-gradient(90deg,#000000a8, #000000b5);
}
.ms-nav-item{
    border:1px solid transparent !important;

}

.ms-nav-item:focus,
.ms-nav-item:hover{
    box-shadow: 1px 1px 17px azure;
    text-shadow: 1px 1px 10px white;
}
.ms-nav-item:focus{
    text-decoration: underline;
}