.ms-full-height{
    height: 100vh;
}
.ms-img-background{
    background: url(../site_images/back1.jpg);
}

.ms-transparent{
    background: transparent
}

.ms-darkbackground{
    background:linear-gradient(90deg,#000000a8, #000000b5);
}
.ms-nav-item{
    border:1px solid transparent !important;

}
.ms-nav-item:hover{
    border:1px solid white !important;
    box-shadow:2px 2px 8px azure;
}
.ms-nav-item:focus{
    border:1px solid white !important;

}